<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Prisoners</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>



<body>


  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="/">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cells">Cell Blocks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="/auth/logout">Login / Logout</a>
    </li>
  </ul>
  <div class="container">
    <h1>Prisoners: <small>This is your index page</small></h1>



    <form action="/prisoners/prisonerS" method="POST">
      <input type="text" name="name" placeholder="Search...">
      <button type="input" class="btn btn-secondary">Submit</button>
    </form>
    </br>

    <!-- ADMIT NEW PRISONER BUTTON -->
    <a href="/prisoners/new" class='btn btn-warning' role='button'>ADMIT NEW PRISONER</a>
    </br>



    <ul class="row">

      <%    for( let i = 0; i < prisoners.length; i++ ) { %>
      <div class="col-4 grid">
        <%=    prisoners[i].name  %> </br>
        <img src="<%=prisoners[i].picture%>" style="width:170px;" alt=""> </br>
        <%= prisoners[i].race %>


        <form action="/prisoners/<%=prisoners[i].id%>" method="GET">
          <button type="input" class="btn btn-info">Show Prisoner Profile</button>
        </form> </br>
      </div>
      <%    } %>
    </ul>
  </div>
  <!-- Content here -->



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>


</html>