.nav {
  position: sticky;
  top: 0;
}

/* #doughnutChart {
  border: solid black 2px;
} */
#myChart {
  border: solid grey 2px;
}

.grid {
  /* background-color: black; */
  /* color: white; */
  border: solid 2px black;
  align-items: center;
}